@media (max-width: 1120px){
    .cabecalho .logo{
       max-width: 250px;
      
    }
    
    .selecao-de-personagens{
      flex-direction: column-reverse;
      max-width: 430px;
      margin: 0 auto;
   }
   
   .selecao-de-personagens .personagens{
      margin-top: 20px;
      width: 475px;
      margin-left: 40px;
   }
   
   .selecao-de-personagens .personagens .titulo{
      font-size: 15px;
   }
   
   .selecao-de-personagens .lista-de-personagens{
      gap: 10px;
   }
   
   .selecao-de-personagens .personagem img{
      width: 80px;
   }

   .personagem-selecionado{
      margin-top: 20px;
      margin-right: 0;
   }
   
   .personagem-selecionado .personagem-grande{
      width: 350px;
      height: 350px;
   }
   
   .personagem-selecionado .descricao-personagem{
      width: 100%;
      font-size: 16px;
      margin: 20px auto;
   }
   
   } 